<form class="list-group-item" [formGroup]="userForm" (ngSubmit)="submitForm()" class="container d-flex flex-column gap-3">
<div class="container rounded bg-white mt-5 mb-5">
  <div class="row">
      <div class="offset-3">
          <h4 class="text-right">Profil Einstellungen</h4>
      </div>
  </div>
  <div class="row">
      <div class="col-md-3">
        <div class="d-flex flex-column justify-content-start align-items-center text-center p-3">
            <img class="rounded-circle" width="150px" src="{{currentUser?.image_url ? currentUser?.image_url : 'https://upload.wikimedia.org/wikipedia/commons/8/89/Portrait_Placeholder.png'}}">
            <span class="font-weight-bold">{{currentUser.firstName}} {{currentUser.lastName}}</span>
            <span class="text-black-50">{{currentUser.email}}</span><span> </span>
        </div>
      </div>
      <div class="col-md-8 d-flex flex-column gap-3">
        <div class="row">
            <div class="col-md-6">
                <label class="form-label">Vorname</label>
                <input type="text" class="form-control" formControlName="firstName" >
            </div>

            <div class="col-md-6">
                <label class="form-label">Nachname</label>
                <input type="text" class="form-control" formControlName="lastName"  >
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label class="form-label">E-Mail</label>
                <input type="text" class="form-control" placeholder="enter email" formControlName="email" />
            </div>
        </div>

        <div class="mt-5 text-center">
            <button class="btn btn-primary" type="submit">Speichern</button>
        </div>
      </div>
  </div>
</div>
</form>
