
    <!--<bs-search class="column" (subjectSelected)="subjectSelected($event)"></bs-search>-->

    <section class="my-5">
      <div class="container banner d-flex justify-content-center">
        <img class="banner-image" src="https://www.meetnlearn.ch/images/mustard/landingImage-1200x630.png">
      </div>
    </section>


  <main class="my-5">
    <div class="container">
      <section class="row">
        <div class="col-md-8 mx-auto">
          <h1 class="display-4">Willkommen bei KWM Go Student!</h1>
          <p class="fs-3 mb-4">Deine zertifizierte Nachhilfe-Plattform für Jung bis Alt</p>
        </div>
      </section>
      <section class="row">
        <div class="col-md-8 mx-auto fs-5">
            <p>Bei <b>KWM Go Student</b> kannst du dich als Nachhilfe-Suchender oder Nachhilfe-Lehrer anmelden.</p>
            <p>Alle Lehrer wurden auf Qualifikationen überprüft, außerdem kannst du aussuchen,
            welcher Termin für dich passt und ob du online oder Vor-Ort Nachhilfe abhalten möchtest.</p>
            <p>Durch transparente Preise und Termin-Auswahl kannst du deinen optimalen Nachhilfe-Lehrer finden!</p>
        </div>
      </section>
      <section class="row">
        <div class="col-md-8 mx-auto">
          <div class="d-flex flex-column gap-2">
            <button routerLink="../login" class="btn btn-primary fs-5">Jetzt anmelden und profitieren!</button>
          </div>
        </div>
      </section>
    </div>
  </main>
