<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 offset-md-1 d-flex gap-3">
      <button class="btn btn-light border border-dark" routerLink="/subjects">
        <i class="fa-solid fa-home"></i> Zurück zur Übersicht
      </button>
    </div>
  </div>

  <hr />

  <div class="row">

    <div class="col-md-8 offset-md-1">
      <div class="row">
        <h1>{{subject.title}}</h1>
        <p>
          {{subject.price}}€ / 60 Min
        </p>
        <p>
          {{subject.description}}
        </p>
      </div>

      <div class="row">
        <div class="col-md-6">
          <h4>Verfügbare Termine</h4>
          <div class="row">
            <form class="form-group d-flex flex-column gap-2" [formGroup]="appointmentBookingForm" (ngSubmit)="submitForm()">
              <ng-container *ngFor="let appointment of subject.appointments; last as l">
                <div *ngIf="appointment.booked == false">
                  <div class="col-md-8 appointment-list-item border border-dark rounded">
                    <div class="area_add" *ngIf="authService.isLoggedInSubject.value && !authService.isLoggedInAsTeacher.value">
                      <input formControlName="{{appointment.id}}" type="checkbox">
                    </div>
                    <div class="area-day">Tag: {{appointment.day}}</div>
                    <div class="area_time">Uhrzeit: {{appointment.from}} - {{appointment.to}}</div>
                  </div>
                </div>
              </ng-container>
    
              <button class="btn btn-primary mt-3" 
                      *ngIf="authService.isLoggedInSubject.value && !authService.isLoggedInAsTeacher.value"
                      type="submit">Anmelden</button>
            </form>
          </div>
        </div>
      </div>

    </div>
    <div class="col-md-2">
        <div class="card card-trainer">
          <div class="" style="width: 100%; height: auto">
            <img class="card-img-top rounded-circle" src="{{subject.user.image_url}}">
          </div>
          <div class="card-body">
            <h4 class="card-title">Lehrer</h4>
            <p class="card-text fs-5">Vorname: {{subject.user.firstName}}</p>
            <p class="card-text fs-5">Nachname: {{subject.user.lastName}}</p>
          </div>
        </div>
    </div>
  </div>

</div>


  
<div class="container mt-5" *ngIf="authService.isLoggedInSubject.value && !authService.isLoggedInAsTeacher.value">
  <form id="algin-form">
    <div class="form-group">
      <h4>Kein passender Termin dabei? Jetzt Nachhilfe-Lehrer kontaktieren!</h4>
      <label for="message">Message</label>
      <textarea name="msg" id=""msg cols="30" rows="5" class="form-control" style="background-color: white;"></textarea>
    </div>
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" name="name" id="fullname" class="form-control">
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" name="email" id="email" class="form-control">
    </div>

    <div class="form-group">
      <button type="button" id="post" class="btn btn-primary" (click)="sendComment()">Kommentar Absenden</button>
    </div>
  </form>
</div>
