<!-- input in book-list-component.html file to know book variable here!-->

<!-- alle properties mit '?' abfragen, um possibly undefined errors vorzubeugen!-->


<div class="content">
  <div class="header">
    {{subject?.icon}}
    {{subject?.title}}
  </div>
  <div class="description">
    {{subject?.description}}
  </div>
  <div class="metadata">

          {{subject?.user.firstName}} {{subject?.user.lastName}}


  </div>

  <div class="metadata">
    <span *ngFor="let appointment of subject?.appointments; last as l">
      {{appointment?.day}} {{appointment?.from}} {{appointment?.to}}
      <span *ngIf="!l">,</span>
    </span>
  </div>



</div>
