<div class="container">
  <ng-container *ngIf="isEditMode; else elseTemplate">
    <div class="d-flex align-items-center gap-2">
      <a [routerLink]="['/mySubjects/', subject.id]" class="">
        <i class="fa-solid fa-arrow-left"></i>
      </a>
      <h2>Nachhilfe-Formular editieren</h2>
    </div>
  </ng-container>
  <ng-template #elseTemplate>
    <h2>Nachhilfe-Formular erstellen</h2>
  </ng-template>

  <hr>

  <form class="list-group-item" [formGroup]="subjectForm" (ngSubmit)="submitForm()" class="container d-flex flex-column gap-3">
  
    <input class="form-control" type="hidden" formControlName="id" />
  
    <div class="row">
      <div class="col-md-6">
        <label class="form-label" >Angebots-Titel *</label>
        <input class="form-control" formControlName="title" />
        <div *ngIf="errors['title']" class="alert-danger">
          {{errors['title']}}
        </div>
      </div>
    </div>
  
    <div class="row">
      <div class="col-md-3">
          <label class="form-label" for="categoryId">Kategorie * </label>
          <select class="form-select" formControlName="categoryId">
          <option class="form-check-input" [ngValue]="null" disabled>Wählen Sie eine Kategorie aus</option>
          <option class="form-check-input" *ngFor="let cat of categories" [ngValue]="cat.id">
            {{ cat.name }}
          </option>
        </select>
      </div>
  
      <div class="col-md-3">
        <label class="form-label" for="levelId">Level * </label>
        <select class="form-select" formControlName="levelId">
          <option class="form-check-input" [ngValue]="" disabled>Wählen Sie ein Level aus</option>
          <option class="form-check-input" *ngFor="let level of levels" [ngValue]="level.id">
            {{ level.level }}
          </option>
        </select>
      </div>
    </div>
  
    <div class="row">
      <div class="col-md-3">
        <label class="form-label" for="price">Preis * </label>
        <input class="form-control" type="number" formControlName="price" min="0" />
        <div *ngIf="errors['price']" class="alert-danger">{{ errors['price'] }}</div>
      </div>
    </div>
  
    <div class="row">
      <div class="col-md-6 d-flex flex-column">
        <label class="form-label" for="description">Beschreibung </label>
        <textarea class="form-control" formControlName="description" id="description" placeholder="Beschreibung">
        </textarea>
      </div>
    </div>
  
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <label class="form-label" for="appointments">Termine *</label>
          <div *ngIf="errors['appointments']">{{errors['appointments']}}</div>
        </div>
  
        <div class="col-md-12 gap-3" formArrayName="appointments">
          <div class="row border border-light rounded p-2" *ngFor="let control of appointments?.controls; index as i" formGroupName="{{i}}">
            <input type="hidden" formControlName="id">
            <div class="col-md-4">
              <label class="form-label" for="day">Tag</label>
              <select class="form-select" formControlName="day">
                <option class="form-check-input" ngValue="Montag">Montag</option>
                <option class="form-check-input" ngValue="Dienstag">Dienstag</option>
                <option class="form-check-input" ngValue="Mittwoch">Mittwoch</option>
                <option class="form-check-input" ngValue="Donnerstag">Donnerstag</option>
                <option class="form-check-input" ngValue="Freitag">Freitag</option>
                <option class="form-check-input" ngValue="Samstag">Samstag</option>
                <option class="form-check-input" ngValue="Sonntag">Sonntag</option>
              </select>
            </div>
            <div class="col-md-8">
              <label class="form-label" for="from">Uhrzeit</label>
              <div class="d-flex align-items-center gap-1">
                <input class="form-control" type="text" formControlName="from" placeholder="09:00:00"><span> - </span>
                <input class="form-control" type="text" formControlName="to" placeholder="12:00:00">
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 mt-2">
          <button (click)="addAppointmentControl()" class="btn btn-primary" type="button">Neuen Termin hinzufügen</button>
        </div>
      </div>
    </div>
      
    <div class="row">
      <div class="col-md-6 d-grid">
        <button class="btn btn-success" [disabled]="subjectForm.invalid">Speichern</button>
        <p>Mit * gekennzeichnete Felder sind verpflichtend</p>
      </div>
    </div>
  </form>

</div>  

