<h1>Nachhilfe-Formular</h1>
<hr>
<form [formGroup]="subjectForm"
      (ngSubmit)="submitForm()" class="row">
  <div class="col-md-6">
    <input class="form-control" type="hidden" formControlName="id">
    <div class="col-md-6">
      <label class="form-label" >Nachhilfe-Angebot-Titel</label>
      <br>
      <input class="form-control" formControlName="title">
      <div *ngIf="errors['title']" class="alert-danger">
        {{errors['title']}}
      </div>
    </div>

    <hr>

    <select class="form-select" formControlName="categoryId">
      <option class="form-check-input" [ngValue]="null" disabled>Choose your category</option>
      <option class="form-check-input" *ngFor="let cat of categories" [ngValue]="cat.id">
        {{ cat.name }}
      </option>
    </select>


    <select class="form-select" formControlName="levelId">
      <option class="form-check-input" [ngValue]="" disabled>Choose your level</option>
      <option class="form-check-input" *ngFor="let level of levels" [ngValue]="level.id">
        {{ level.level }}
      </option>
    </select>
  </div>

  <div class="col-md-6">
    <label class="form-label" for="description">Beschreibung</label>
    <textarea class="form-text" formControlName="description" id="description" placeholder="Beschreibung">
    </textarea>
    <hr>
  </div>


  <div class="col-md-6" [class.disabled]="isUpdatingSubject">
    <label class="form-label" for="id">ID</label>
    <input class="form-control" formControlName="id" id="id" placeholder="10">
    <div *ngIf="errors['id']" class="alert-danger">{{ errors['id'] }}
    </div>

    <hr>

  </div>
  <div class="col-md-4">
    <label class="form-label" type="date">Erscheinungsdatum</label>
    <input class="form-control" type="date" formControlName="published">
    <div *ngIf="errors['published']" class="alert-danger">{{ errors['published'] }}</div>
    <hr>
  </div>



  <!-- TODO: add appointments to form!-->


  <div class="col-md-6">


      <div class="col-md-6" *ngFor="let appointment of subject.appointments last as l">
        <div>
          <label class="form-label">Tag:</label>
          <input class="form-control" formControlName="day" placeholder="Montag" value="{{appointment.day}}">
        </div>
        <div>
          <label class="form-label">Von:</label>
          <input class="form-control" formControlName="from" placeholder="08:00:00"
          value="{{appointment.from}}">
        </div>
        <div>
          <label class="form-label">Bis:</label>
          <input class="form-control" formControlName="to" placeholder="12:00:00"
          value="{{appointment.to}}">
        </div>
        <div *ngIf="l">
         <!-- <button (click)="addAppointmentControl()" type="button">+</button>-->
        </div>
        <hr>
      </div>

    <label class="col-md-4">Neue Termine</label>

    <br>
    <div class="col-md-4" formArrayName="appointments">
      <label class="form-label">Tag: </label>
      <input class="form-control" formControlName="day" placeholder="Montag">
      <br>
      <label class="form-label">Von: </label>
      <input class="form-control" formControlName="from" placeholder="09:00:00">
      <br>
      <label class="form-label">Bis: </label>
      <input class="form-control" formControlName="to" placeholder="12:00:00">

      <button (click)="addAppointmentControl()" type="button">+</button>
    </div>
  </div>
  <div *ngIf="errors['appointments']">{{errors['appointments']}}</div>


  <button  class="btn btn-primary" [disabled]="subjectForm.invalid">Speichern</button>

</form>
