:root {

}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

nav {
  height: 100px;
}

.content {
  min-height: calc(100% - 200px);
  padding: 1rem 2rem;
}

.footer {
  height: 100px;
}

.navbar-brand {
  height: 100px;
  display: flex;
  align-items: center;
}

.navbar-brand img {
  height: 150px;
  width: 150px;
}

.nav-link {
  font-size: 1.2rem;
}

.searchbox {
  position: relative;
}

.searchbox .search-results {
  display: none;
  position: absolute;
  top: 45px;
  z-index: 100;
  width: 100%;
  border-left: 2px solid #682773;
  -webkit-box-shadow: -3px 3px 10px -6px #682773; 
  box-shadow: -3px 3px 10px -6px #682773;
}

.searchbox input:focus + .search-results,
.search-results:hover {
  display: inherit;
}

.banner-image {
  width: 80vh;
}

.card {
  width: 18rem;
  padding: 0;
  position: relative;
}

.card-icon {
  font-size: 1.3rem;
}

.card .floating-avatar {
  position: absolute;
  background-color: white;
  z-index: 99;
  top: -10;
  right: -10;

  width: 50px;
  height: 50px;
  
  border: 1px solid rgba(0, 0, 0, 0.267);
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.card-header span {
  width: 85%;
}

.card .floating-avatar img {
  height: 100%;
  width: 100%;
}

.card-trainer {
  height: auto;
  border: none;
  border-radius: 0;
}

.appointment-list-item {  
  display: grid;
  grid-template-columns: 0.4fr 2.3fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  padding: 2px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "area_add area-day"
    "area_add area_time";
}

.appointment-list-item .area_add { 
  grid-area: area_add;
  display: flex;
  align-items: center;
  justify-content: center;
}

.appointment-list-item .area-day { 
  grid-area: area-day;
}

.appointment-list-item .area_time { 
  grid-area: area_time;
}



.btn-category {
  border: 3px solid #682773;
  background-color: #e2a0eeab;
  position: relative;
  height: 200px;
}

.btn-level {
  border: 3px solid #736527;
  background-color: #eee9a0ab;
  position: relative;
}

.btn-category .icon,
.btn-level .icon {
  position: absolute;
  top: -20;
  left: 41.5%;
  padding: 1rem;
  font-size: 2rem;
  background-color: white;
  border: 3px solid black;
}



.c-grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.c-grid-3 button {
  height: clamp(200px, 20vh, 400px);

  font-size: 1.3rem;
  font-weight: 700;
}

.scrollarea{
  min-height: 500px;
}

.form-control:focus {
  box-shadow: none;
  border-color: #BA68C8
}

.back:hover {
    color: #682773;
    cursor: pointer
}
