<div class="container d-flex gap-5">
<select class="btn btn-outline-secondary dropdown-toggle" aria-label=".form-select-lg example">
  <option selected>Bundesland</option>
  <option value="1">Oberösterreich</option>
  <option value="2">Niederösterreich</option>
  <option value="3">Wien</option>
  <option value="4">Burgenland</option>
  <option value="5">Steiermark</option>
  <option value="6">Kärnten</option>
  <option value="7">Vorarlberg</option>
  <option value="8">Tirol</option>
  <option value="9">Salzburg</option>
</select>

  <select class="btn btn-outline-secondary dropdown-toggle" aria-label=".form-select-lg example">
    <option selected>Preis pro 60 Min</option>
    <option value="1">unter 20€</option>
    <option value="2">20 € bis 30 €</option>
    <option value="3">30 € bis 50 €</option>
    <option value="4">über 50 €</option>
  </select>


</div>


<div class="container c-grid-3 mt-5">

  <button *ngFor="let subject of subjects" type="button"
    class="btn btn-light border border-dark"
          [routerLink]="subject.id.toString()"
         (click)="selectSubject(subject)">

    <div [ngClass]="subject.icon">

      <i [ngClass]="subject.icon"></i>

    </div>
    <div class="btn-label">
      {{subject.title}}
      <img class="d-inline-block img-fluid mb-4" src={{subject.user.image}}>
      <div>
      {{subject.user.firstName}}
      {{subject.user.lastName}}
    </div>
    </div>
  </button>
</div>



<div class="ui middle aligned selection divided list">

  <div *ngIf="!subjects" class="ui active dimmer">
    <div class="ui large text loader">Daten werden geladen...</div>
  </div>
  <p *ngIf="subjects && !subjects.length">Es wurden noch keine Angebote
    eingetragen.</p>
</div>
