<div class="container c-grid-3 mt-5">

  <div *ngFor="let subject of subjects" type="button"
  class="btn btn-light border border-dark"
  [routerLink]="subject.id.toString()"
  (click)="selectSubject(subject)">

    <div [ngClass]="subject.icon">

      <i [ngClass]="subject.icon"></i>

    </div>
    <div class="btn-label">
      <b>{{subject.title}}</b>
      <br>
      <img class="d-inline-block img-fluid mb-4" width="50px" src="{{subject.user.image_url}}">
    </div>
    <div>

      <p>{{subject.description}}</p>
    </div>


        <div *ngFor="let appointment of subject.appointments">
          <h1>{{appointment.day}}</h1>
          <p>{{appointment.from}}</p>
          <p>{{appointment.to}}</p>
        </div>

  </div>

</div>

